<html>
	<body>
		<div>
			<h1>Off toàn bộ user</h1>
		</div>
		<form action="/admin/off_user_messenger" method="post">
			<input type="hidden" name="id_user_local" value='<%=user.local.id%>'>
			<button>Bắt đầu</button>
		</form>
	</body>
</html>