<!doctype html>
<html>
<head>
	<title>Đỗ Hoàng Tiến</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link href="/back-end/css/stylesheets.css" rel="stylesheet" type="text/css" />        
    <link href="/back-end/js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" type="text/css" />
    <link href="/back-end/css/codemirror/theme/midnight.css" rel="stylesheet" type="text/css" />
    
    <script type='text/javascript' src='/back-end/js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/jquery/jquery-ui.min.js'></script>   
    <script type='text/javascript' src='/back-end/js/plugins/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/jquery/globalize.js'></script>    
    <script type='text/javascript' src='/back-end/js/plugins/bootstrap/bootstrap.min.js'></script>
    
    <script type='text/javascript' src='/back-end/js/plugins/uniform/jquery.uniform.min.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/fancybox/jquery.fancybox.pack.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/tagsinput/jquery.tagsinput.min.js'></script>
    
    <script type='text/javascript' src='/back-end/js/plugins/codemirror/codemirror.js'></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/addon/edit/matchbrackets.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/xml/xml.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/css/css.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/clike/clike.js"></script>
    <script type='text/javascript' src="/back-end/js/plugins/codemirror/mode/php/php.js"></script> 

    <script type='text/javascript' src='/back-end/js/plugins/flot/jquery.flot.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/flot/jquery.flot.pie.js'></script>    
    <script type='text/javascript' src='/back-end/js/plugins/flot/jquery.flot.resize.js'></script>
    <script type="text/javascript" src="/back-end/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/back-end/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="/back-end/js/plugins/jquery/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/back-end/js/plugins/select2/select2.min.js"></script>
    <script type='text/javascript' src='/back-end/js/plugins/cleditor/jquery.cleditor.min.js'></script>
    <script type='text/javascript' src='/back-end/js/plugins/tinymce/tinymce.min.js'></script>

    <script type='text/javascript' src='/back-end/js/plugins.js'></script>    
    <script type='text/javascript' src='/back-end/js/actions.js'></script>    
    <script type='text/javascript' src='/back-end/js/charts.js'></script>
    <script type='text/javascript' src='/back-end/js/settings.js'></script>  
</head>
	<body class="bg-img-num1">
		<div class="container">