<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>Auto Facebook</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- END META SECTION -->
        <!-- Share Facebook -->
        <meta property="og:url"                content="http://www.dohoangtien.com" />
		<meta property="og:type"               content="article" />
		<meta property="og:title"              content="Auto Facebook Marketing" />
		<meta property="og:description"        content="Tự động hóa tại sao không" />
		<meta property="og:image"              content="/img/back-end/logo.png" />
        
        <link rel="stylesheet" type="text/css" href="/front-end/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="/front-end/css/chat.css"/>
        
    </head>
    <body>
        <!-- page container -->
        <div class="page-container">
            
            <!-- page header -->
            <div class="page-header">
                
                <!-- page header holder -->
                <div class="page-header-holder">
                    
                    <!-- page logo -->
                    <div class="logo">
                        <a href="/">Auto Facebook</a>
                    </div>
                    <!-- ./page logo -->
                    

                    <!-- search -->
                    <div class="search">
                        <div class="search-button"><span class="fa fa-search"></span></div>
                        <div class="search-container animated fadeInDown">
                            <form action="index.html#" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search..."/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ./search -->

                    <!-- nav mobile bars -->
                    <div class="navigation-toggle">
                        <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                    </div>
                    <!-- ./nav mobile bars -->
                    
                    <!-- navigation -->
                    <ul class="navigation">
                        <li>
                            <a href="/">Home</a>                            
                        </li>
                        <!-- <li>
                            <a href="index.html#">Pages</a>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="index.html#">Blog</a>
                            <ul>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="index.html#">Portfolio</a>
                            <ul>
                                <li><a href="portfolio-with-title.html">Portfolio With Title</a></li>
                                <li><a href="portfolio-2column.html">Portfolio 2 Column</a></li>
                                <li><a href="portfolio-3column.html">Portfolio 3 Column</a></li>
                                <li><a href="portfolio-4column.html">Portfolio 4 Column</a></li>
                            </ul>
                        </li> -->
                        <li><a href="/login">Đăng nhập</a></li>
                        <li><a href="/signup">Đăng ký</a></li>
                    </ul>
                    <!-- ./navigation -->                        

                    
                </div>
                <!-- ./page header holder -->
                
            </div>
            <!-- ./page header -->
            
            <!-- page content -->
            <div class="page-content">
                
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-img-2 light-elements">
                    <!-- page content holder -->
                    <div class="page-content-holder">
                        
                        <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                            <h2>Auto Facebook</h2>
                            <div class="block-heading-text">
                                Trang quản trị, giúp bạn quản lý công việc tốt hơn
                            </div>
                        </div>                        
                        
                        <div class="block push-up-20">
                            <div class="row">
                                <div class="col-md-4">

                                    <div class="text-column this-animate" data-animate="fadeInLeft">
                                        <h4>100% Tự động hóa</h4>
                                        <div class="text-column-info">
                                            Các công cụ sẽ được tự động hóa theo thời gian thực
                                        </div>
                                    </div>
                                    <div class="text-column this-animate" data-animate="fadeInLeft">
                                        <h4>Giao diện và thiết kế</h4>
                                        <div class="text-column-info">
                                            Được tối tưu với giao diện điện thoại và máy tính bảng
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-8 text-center this-animate" data-animate="fadeInRight">
                                    <img src="/front-end/assets/taurus_monitor.png" class="img-responsive-mobile"/>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->
                
                <!-- page content wrapper -->
                <div class="page-content-wrap bg-texture-1 bg-dark light-elements">
                    
                    <div class="divider"><div class="box"><span class="fa fa-angle-down"></span></div></div>
                    
                    <!-- page content holder -->
                    <div class="page-content-holder">
                                                
                        <div class="row">
                            
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                    <div class="text-column-icon">
                                        <span class="fa fa-support"></span>
                                    </div>
                                    <h4>Miễn phí update & Hỗ trợ</h4>
                                    <div class="text-column-info">
                                        Chúng tôi luôn hỗ trợ <strong>miễn phí</strong>, và lắng nghe nhu cầu của khách hàng để có những bản cập nhật được tối ưu nhất
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                    <div class="text-column-icon">
                                        <span class="fa fa-expand"></span>
                                    </div>
                                    <h4>Công nghệ được update liên tục</h4>
                                    <div class="text-column-info">
                                        Đảm bảo liên tục update khi có những vấn đề mới phát sinh
                                    </div>
                                </div>                                
                            </div>
                            
                            <div class="col-md-4">                                
                                <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                    <div class="text-column-icon">
                                        <span class="fa fa-clock-o"></span>
                                    </div>
                                    <h4>Thời gian</h4>
                                    <div class="text-column-info">
                                        Thời gian luôn được sử dụng bằng thời gian thực, giúp việc tự động hóa dễ dàng hơn
                                    </div>
                                </div>                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- ./page content holder -->
                </div>
                <!-- ./page content wrapper -->                        
            </div>
            <!-- ./page content -->
            
            <!-- page footer -->
            <div class="page-footer">
                
                <!-- page footer wrap -->
                <div class="page-footer-wrap bg-darken-gray">
                    <!-- page footer holder -->
                    <div class="page-footer-holder">
                        
                        <!-- copyright -->
                        <div class="copyright">
                            &copy; 2017 by <a href="https://www.facebook.com/kobi.hoang" target="_blank">Đỗ Hoàng Tiến</a> - All Rights Reserved                            
                        </div>
                        <!-- ./copyright -->
                        
                        <!-- social links -->
                        <div class="social-links">
                            <a href="/"><span class="fa fa-facebook"></span></a>
                            <a href="/"><span class="fa fa-twitter"></span></a>
                            <a href="/"><span class="fa fa-google-plus"></span></a>
                            <a href="/"><span class="fa fa-linkedin"></span></a>
                            <a href="/"><span class="fa fa-vimeo-square"></span></a>
                            <a href="/"><span class="fa fa-dribbble"></span></a>
                        </div>                        
                        <!-- ./social links -->
                        
                    </div>
                    <!-- ./page footer holder -->
                </div>
                <!-- ./page footer wrap -->
                
            </div>
            <!-- ./page footer -->
            
        </div>        
        <!-- ./page container -->
        <div id="live-chat">
            
                    <header class="clearfix">
            
                        <a href="#" class="chat-close">x</a>
            
                        <h4>Lại Túy</h4>
            
                        <span class="chat-message-counter">3</span>
            
                    </header>



            <!-- chat-message -->

                    <div class="chat">           
                        <div class="chat-history">            
                            <div  class="chat-message clearfix">            
                                <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-1/p160x160/12871476_635468773268111_25954577838653797_n.jpg?oh=cb28e8dd4e5531d38115da1b8ebca51b&oe=5A800542" alt="" width="32" height="32">           
                                <div  class="chat-message-content clearfix">           
                                    <span class="chat-time">13:35</span>           
                                    <h4>Lại Túy</h4>           
                                    <p>
                                        Xin chào Tất cả các bạn đã truy cập vào web     
                                    </p>            
                                </div>
                                <!-- end chat-message-content -->                               
                            </div>
                            <!-- end chat-message -->          
                            <hr>
                            <ul id="messages"></ul>
                            <div style="height:100px"></div>                         
                        </div>
                        <!-- end chat-history -->         
                        <p class="chat-feedback">Your partner is typing…</p>          
                        <form action="" method="">        
                            <fieldset>
                                <input style="width:190px" id ="m" type="text" placeholder="Type your message…" >
                                <input type="hidden">
                                <button class="btn btn-info">Send</button>
                            </fieldset>
            
                        </form>
            
                    </div>
                    <!-- end chat -->
            
                </div>
        <!-- page scripts -->
        <script type="text/javascript" src="/front-end/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/front-end/js/plugins/bootstrap/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="/front-end/js/plugins/mixitup/jquery.mixitup.js"></script>
        <script type="text/javascript" src="/front-end/js/plugins/appear/jquery.appear.js"></script>
        
        <script type="text/javascript" src="/front-end/js/actions.js"></script>                
        <!-- ./page scripts -->

        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        
        <script>
            $(function () {
                var socket = io('http://localhost');
                $('form').submit(function () {
                    socket.emit('chat message', $('#m').val());
                    $('#m').val('');
                    return false;
                });

                socket.on('chat message', function (msg) {
                    $('#messages').append($('<ul>').text(msg));
                });
            });
    
         $(function() {
    
             $('#live-chat header').on('click', function() {
    
                 $('.chat').slideToggle(300, 'swing');
                 $('.chat-message-counter').fadeToggle(300, 'swing');
    
             });
             
             $('.chat-close').on('click', function(e) {
    
                 e.preventDefault();
                 $('#live-chat').fadeOut(300);
    
             });
    
         }) ();
        </script>     
       
        
    </body>
</html>






