<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<h1>
			Các bạn dùng addon này để lấy cookie.
				<a href="https://chrome.google.com/webstore/category/extensions?hl=vi">Cho Chrome</a>
				<a href="https://addons.mozilla.org/en-US/firefox/addon/editthiscookieaddon/">Cho firefox</a>

			Tải xong vào trang facebook rồi chọn như ảnh dưới
		</h1>
	</div>
	<div>
		<img src="/getcookie/1.jpg">
	</div>
	<div>
		<h1>
			Rồi quay lại trang chủ dán cookie vào ô bên dưới
		</h1>
	</div>
	<img src="/getcookie/2.jpg">
	
	<div><h1>
	<a href="/profile">Vậy là xong. Quay lại trang chủ</a>
	</h1></div>
</body>
</html>